form.delivery-form
  .customer-name
      .form__title Имя
      .form__inputs
        input(class='form__input delivery-form__input--name' type='text' name='delivery-form__name' value='Константин')
  .customer-contacts
      .form-row
        .customer-phone
          .form__title Номер телефона
          .form__inputs
            input(class='form__input delivery-form__input--phone' type='phone' name='delivery-form__phone' value='18309897563')
        .customer-email
                .form__title Эл. почта
                .form__inputs
                  input(class='form__input delivery-form__input--email' type='email' name='delivery-form__adress' value='kostya@mail.ru')
  
  .customer-comment
    .form__title Примечания
    .form__inputs
      textarea(class='form__input delivery-form__input--comment' name='customer-comment' row='10' cols='45')

