.brightness-progress
    .brightness-progress__wrapper
      .brightness-progress__track
        .brightness-progress__value
      .brightness-progress__indikator
      .brightness-progress__desc засвечено