header.header
  .header__wrapper
    .mobile-nav
      ul.mobile-nav-list
        li.mobile-nav-item
          a.mobile-nav__link Заказать

    .header-logo
      a(class='header-logo__link', href='/') КАРТИНЫ НА ДЕРЕВЕ
    nav.nav
      include ../nav/nav