ul.nav-list
  li.nav-item 
    a(class='nav-link' href='/') Заказать
  li.nav-item
    a(class='nav-link' href='/') Портфолио
  li.nav-item
    a(class='nav-link' href='/') Доставка и оплата
  li.nav-item
    a(class='nav-link' href='/') Контакты