section.upload
  .upload__title Оформление заказа
  .upload__place
    .upload-instrucion
      .upload-instrucion__text Перетащите сюда изображение или выберите файл в проводнике
      button.btn Выбрать файл