section.upload
  .upload__title Оформление заказа
  .upload__place
    .upload-instrucion
      .upload-instrucion__text Перетащите сюда изображение или выберите файл в проводнике
      button(class="btn", onclick="show('flex')") Выбрать файл