extends template/main

block variables
  - var title = 'Ramki Цены'

block content
  section.ramki
    .ramki__title Оформление заказа
    .ramki__desc Выберите рамку
    .ramki__content
      .ramki-form
        include modules/frame/frame
        .ramki-price
          .ramki-price__title Стоимость рамки
          .ramki-price__value 10000 р.
      .ramki-image
        img(class='options__image' src='static/images/general/ramki.png')

    .ramki__btn.btn Перейти к оформлению заказа