.mobile-nav {
  display: none;
  position: absolute;
  top: 7px;
  left: 20px;
  background-image: url('../../static/images/general/burger-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 18px;
  height: 14px;
  &-item {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
}