.thanks {
  @extend .upload;
  padding-bottom: rem(198.8);
  &__title {
    @extend .upload__title;
    padding-bottom: rem(144.5);
  }
  &__content {
    @extend .upload;
    text-align: center;
  }
  &__mark {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='155.001' height='134.013' viewBox='0 0 155.001 134.013'%3E%3Cpath d='M14215.572,547.158c15,12.886,36.861,32.521,36.861,32.521s50.311-59.185,97.9-87.68l3.664,9.935c-17.3,10.952-69.572,70.951-90.058,124.078,0,0-54.549-53.81-64.943-66.074l16.575-12.78Z' transform='translate(-14198.997 -491.999)' fill='%23f06f05'/%3E%3C/svg%3E");
    width: rem(155);
    height: rem(134);
  }
  &__notice {
    @include montserrat-medium;
    font-size: rem(21);
    line-height: 25.6px;
    padding-top: rem(53.5);
    padding-bottom: rem(18);
    
  }
  &__desc {
    max-width: rem(292);
    @include montserrat-regular;
    font-size: rem(18);
    line-height: 24px;
  }
}
@media screen and (max-width: 480px) {
  .thanks {
    &__title {
      max-width: 240px;
      text-align: center;
      padding-top: 31.5px;
      padding-bottom: 61.5px;
    }
    &__notice {
      font-size: 18px;
      line-height: 27px;
      padding-top: 50.3px;
      padding-bottom: 38.2px;
    }
    &__desc {
      font-size: 18px;
    }
  }
}