.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(244);
  height: rem(63);
  @include montserrat-regular;
  color: $white;
  background-color: $orange;
  border-radius: 31.5px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  &:focus, &:hover {
    background-color: darken($orange, 10);
  }
  &--disabled {
    background-color: $disabled;
  }
}

a {
  color: $links;
  text-decoration: underline;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
    color: $orange;
  }
}