mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)

mixin breadcrumbs(breadcrumbs_text, breadcrumbs_link)
	.breadcrumbs
		.breadcrumbs__wrapper
			.breadcrumbs__icon
				<svg xmlns="http://www.w3.org/2000/svg" width="14.991" height="12.002" viewBox="0 0 14.991 12.002"><path d="M5828.995,475.986a.845.845,0,0,1-.839.871h-11.337l3.488,3.627a.944.944,0,0,1,.011,1.236.851.851,0,0,1-.59.278.826.826,0,0,1-.578-.27l-4.909-5.141a.942.942,0,0,1-.012-1.236l4.92-5.108a.853.853,0,0,1,1.188-.013.949.949,0,0,1,.02,1.248l-3.5,3.636h11.3A.845.845,0,0,1,5828.995,475.986Z" transform="translate(-5814.004 -469.997)" fill="#f06f05"/></svg>
			a(class='breadcrumbs__text', href= breadcrumbs_link)= breadcrumbs_text