footer.footer
  .footer__wrapper

    ul.footer-nav-list__top
      li.footer-nav-item
        a.footer-nav-link Как сделать заказ
      li.footer-nav-item
        a.footer-nav-link Портфолио
      li.footer-nav-item
        a.footer-nav-link Оплата и доставка
      li.footer-nav-item
        a.footer-nav-link О компании

    ul.footer-nav-list__bottom
      li.footer-nav-item 
        a.footer-nav-link Политика конфидециальности
      li.footer-nav-item
        a.footer-nav-link Пользовательское соглашение
      li.footer-nav-item
        a.footer-nav-link Возврат товара